<div id="<%= dom_id appointment %>">
  <p>
    <strong>Type:</strong>
    <%= appointment.type %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= appointment.title %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= appointment.duration %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= appointment.datetime %>
  </p>

</div>
